@import "tailwindcss";
@font-face {
  font-family: "Silkscreen";
  src: url("../../public/polices/Silkscreen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pixelated-rendering {
  image-rendering: pixelated;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
