@import "tailwindcss";
@font-face {
  font-family: 'Silkscreen';
  src: url('../../public/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pixelated-rendering {
  image-rendering: pixelated;
}