  @import "tailwindcss";
@font-face {
  font-family: 'Silkscreen';
  src: url('../../public/polices/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pixelated-rendering {
  image-rendering: pixelated;
}

body, h1, h2, h3, h4, h5, h6, p, label {
  cursor: url('../../public/cursor/normal.png'), auto;
}

a, button {
  cursor: url('../../public/cursor/pointer.png'), pointer;
}

input, textarea {
  cursor: url('../../public/cursor/text.png'), text;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
